img {
    display: inline;
}

p {
    background-color: yellow;
}

span {
    background-color: red;
}

body {
    box-sizing: border-box;
    background-color: bisque;
}

#imagen2 {
    position: relative;
    width: 200px;
    left: 20%;
    top: 20%;
}