li {
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
}

h1 {
    text-align: center;
}

ul {
    text-align: center;
}

body {
    border-left-style: dashed;
    border-right-style: dashed;
    border-top-style: solid;
    border-bottom-style: solid;
    box-sizing: content-box;
}

header {
    border-bottom-style: solid;
    min-height: 20vh;
}

div {
    display: inline-block;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: dashed;
    border-right-style: dashed;
    text-align: center;
    padding: 5%;
    margin: 5%;
}

article {
    text-align: center;
    padding: 3%;
    min-height: 75vh;
}

footer {
    border-top-style: solid;
    min-height: 10vh;

}

#flecha {
    position: relative;
    left: 2000px;
    margin: 0;
    padding: 0;
    bottom: 60px;
}

#fotoFlecha {
    width: 30px;
}

img {
    width: 250px;
}

#nuevo{
    position: relative;
    left: 120px;
    bottom: 30px;
    margin-top: 0;
}

#cajaNuevo {
    position: relative;
}

#nota2 {
    display: none;
    border-style: hidden;
}

#imagenprincipal2 {
    border-style: hidden;
    position: relative;
}

#imagenprincipal2:hover #nota2 {
    display: block;
    position: absolute;
    top: 50px;
}

#textonota2 {
    display: none;
}

#nota2:hover #textonota2 {
    display: block;
}